<!DOCTYPE html>
<html lang="pt-br">
<head>
    <base href="/">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="pt-br" />
    <title>AngularJS Example</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.19/angular-material.min.css">
</head>
<body ng-app="app">
    <!-- AngularJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>

    <!-- AngularJS Route - Required to single page applications -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-route.min.js"></script>
    
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-aria.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.19/angular-material.min.js"></script>

        
    <script src="app.js"></script>
    <script type="text/ng-template" id="login.html">
        <div layout="column" layout-align="center center" layout-fill="layout-fill">
            <div layout="column" class="loginBox md-whiteframe-z1">
                <md-toolbar>
                    <h2 class="md-toolbar-tools"><span>Login</span></h2>
                </md-toolbar>
                <form name="loginForm">
                    <md-content layout="column" class="md-padding">
                        <md-input-container>
                            <label>Username</label>
                            <input required type="email" ng-model="loginModel.username" name="username" />
                            <div ng-messages="loginForm.username.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                        
                        <md-input-container>
                            <label>Password</label>
                            <input required type="password" ng-model="loginModel.password" name="password" />
                            <div ng-messages="loginForm.password.$error" role="alert">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                        
                        <div layout="row" layout-align="center center">
                            <md-button type="submit" class="md-raised md-primary">Entrar</md-button>
                        
                            <div flex="flex"></div>
                                <md-button href="" md-no-ink>Esqueci minha senha</md-button>
                            </div>
                            <md-divider></md-divider>
                            <md-button href="index.html#!/register/step1" md-no-ink>Cadastra-se ;)</md-button>
                        </div>
                    </md-content>
                </form>
            </div>
        </div>
    </script>

    <div ng-controller="MainController">
            <a href="index.html#!/login">Login</a> |
            <a href="index.html#!/register/step1">Passo 1</a> |
            <a href="index.html#!/register/step2">Passo 2</a> |
            <a href="index.html#!/register/step3">Passo 3</a><br>
            <hr />
            <br>
            <form name="formRegister">
                <div ng-view></div>
            </form>
            <br>
            <hr />
          
            <pre>{{userdata}}</pre>
            <pre>$location.path() = {{$location.path()}}</pre>
            <pre>$route.current.templateUrl = {{$route.current.templateUrl}}</pre>
            <pre>$route.current.params = {{$route.current.params}}</pre>
            <pre>$route.current.scope.name = {{$route.current.scope.name}}</pre>
            <pre>$routeParams = {{$routeParams}}</pre>
    </div>    
</body>
</html>