<h1>Passo 1</h1>

<label for="register_cpf">CPF</label>
<input ng-model="$parent.userdata.cpf" name="register_cpf" type="text" required><br>

<label for="register_firstname">Nome</label>
<input ng-model="$parent.userdata.firstname" name="register_firstname" type="text" required><br>

<label for="register_lastname">Sobrenome</label>
<input ng-model="$parent.userdata.lastname" name="register_lastname" type="text" required><br>

<label for="register_date_of_birth">Data de Nascimento</label>
<input ng-model="$parent.userdata.date_of_birth" name="register_date_of_birth" type="date" required>