<h1>Passo 2</h1>

<label for="register_cep">CEP</label>
<input ng-model="$parent.userdata.cep" name="register_cep" type="text" required><br>

<label for="register_street">Rua</label>
<input ng-model="$parent.userdata.street" name="register_street" type="text" required><br>

<label for="register_street_number">Numero</label>
<input ng-model="$parent.userdata.street_number" name="register_street_number" type="text" required><br>

<label for="register_district">Bairro</label>
<input ng-model="$parent.userdata.district" name="register_district" type="text" required><br>

<label for="register_state">Estado</label>
<input ng-model="$parent.userdata.state" name="register_state" type="text" required><br>

<label for="register_city">Cidade</label>
<input ng-model="$parent.userdata.city" name="register_city" type="text" required>